body {background: white;}
.reg
{
	width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
	text-align: center;
}

.reg input[type=email]
{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
    width: 50%;
}

.reg input[type=text]
{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
    width: 50%;
}

.reg input[type=password]
{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
    width: 50%;
}

.reg input[type=submit]
{
    margin-top: 30px;
    padding: 10px;
    border: 0;
    width: 50%;
    background-color: rgba(0, 0, 255, 0.692);
    color: white;
}

p
{
    text-align: left;
    margin-left: 4cm;
}

a{color: blue;}

.thx
{
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
	text-align: center;
    border: 1px solid rgba(0, 0, 255, 0.692);
}

.msg input[name=message]
{
    margin-top: 20px;
    padding-bottom: 100px;
    width: 15cm;
    color: gray;
    position: absolute;
    left: 17.75cm;
    top: 18.5cm;
}

.msg input[name=message_log]
{
    top: 30px;
    width: 15cm;
    height: 17.5cm;
    position: absolute;
    left: 17.75cm;
}

#online
{
    position: absolute;
    overflow: auto;
    left: 35cm;
    top: 30px;
}

#online1
{
    position: absolute;
    overflow: auto;
    left: 33.5cm;
    top: 60px;
    border: 1px solid black;
    height: 16.6cm;
    width: 6cm;
}

.msg input[type=button]
{
    border: 0;
    background-color: rgba(0, 0, 255, 0.692);
    color: white;
    padding: 10px;
    position: absolute;
    left: 17.75cm;
    top: 22.5cm;
}

footer
{
    color: gray;
    text-align: center;
    margin-top: 70px;
}

footer img
{
    width:40px;
    height:40px;
    margin-top: 10px;
}