body {background: rgb(210, 220, 252);}

.invalid
{
	border: 3px solid red;
}

.reg
{
	width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
	text-align: center;
}

.reg input[type=email]
{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
    width: 50%;
}

.reg input[type=text]
{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
    width: 50%;
}

.reg input[type=password]
{
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.432);
    width: 50%;
}

.reg input[type=submit]
{
    margin-top: 30px;
    padding: 10px;
    border: 0;
    width: 50%;
    background-color: rgba(0, 0, 255, 0.692);
    color: white;
}

p
{
    text-align: left;
    margin-left: 4cm;
}

a{color: blue;}

.thx
{
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
	text-align: center;
    border: 1px solid rgba(0, 0, 255, 0.692);
}

.msg textarea
{
    margin-top: 20px;
    padding-bottom: 100px;
    padding-left: 15px;
    font-size: 12pt;
    width: 15cm;
    color: black;
    position: absolute;
    left: 17.75cm;
    top: 18.5cm;
    word-break: break-all;
    overflow-y: scroll;
    max-height: 120px;
    white-space: normal;
    border: 3px solid black;
}



#online
{
    position: absolute;
    overflow: auto;
    left: 35cm;
    top: 30px;
}

#online1
{
    position: absolute;
    overflow-y: scroll;
    left: 33.5cm;
    top: 60px;
    border: 1px solid black;
    height: 16.6cm;
    max-height: 16.6cm;
    width: 6cm;
    border: 3px solid black;
}

.msg input[name="sent"]
{
    border: 0;
    background-color: rgba(0, 0, 255, 0.692);
    color: white;
    padding: 10px;
    position: absolute;
    left: 17.75cm;
    top: 22.5cm;
}

.msg p
{
    position: absolute;
    left: 27cm;
    top: 22.3cm;
    width: 86.1px;
    height: 50px;
}

.msg a
{
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.692);
    text-decoration: none;
    color: white;
}

footer
{
    color: gray;
    text-align: center;
    margin-top: 70px;
}

footer img
{
    width:40px;
    height:40px;
    margin-top: 10px;
}

.msg_log
{
    border: 3px solid black;
    width: 15cm;
    position: absolute;
    left: 17.75cm;
    top: 1.6cm;
    overflow-y: scroll;
    height: 16.6cm;
    max-height: 16.6cm;
    display: inline;
}

.fromUser
{
    color: rgb(41, 106, 180);
}

.msg_log table:nth-child(2n) {
    background: rgb(250, 233, 81); /* Цвет фона */
   } 
.msg_log table:nth-child(2n+1) {
    background: rgb(140, 235, 103); /* Цвет фона */
}
